.App {
  text-align: center;
}

#drum-machine{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  margin-left: 25%;
}

.drum-pad {
  height: 6em;
  width: 100%;
}

#displayedText {
  background-color: gray;
  border: 4px solid darkslategrey;
  border-radius: 25px;
}

label{
  color: white;
  font-size: smaller;
}

#volume {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 24px;
  height: 90%;
}