body {
  margin: 0;
  background-image: url('https://cdn.pixabay.com/photo/2017/08/10/04/24/drums-2618153_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
